
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-transform: uppercase; text-align: center"><h2>Modifier Un Utilisateur</h2></div>
    <div class="container">
      <div class="row">
        <div class="col-md-9 register-right">
        </div>
      </div>
      <p></p>
      <p></p>
      <div></div>
      <div class="container">
        <form class="form-group">
          <div class="form-group col-xs-4">
            <label><strong>Nom Utilisateur:</strong></label>
            <input type="text" class="form-control" placeholder="Nom user" name="nomUsages" [(ngModel)]="donneUser.nomUsages">
            <label><strong>Auteur du Livre:</strong></label>
            <input type="text" class="form-control"  placeholder="Prenom user" name="prenomUsages" [(ngModel)]="donneUser.prenomUsages"><p></p>
            <button type="submit" class="btn btn-success" (click)="upUsers()">Save</button>
          </div>
        </form>
      </div>
      <strong><b><h2>Listes des Utilisateur</h2></b></strong>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom</th><th>Prenom</th>
        </tr>
        <tr *ngFor="let c of lists">
          <td>{{c.idUsages}}</td>
          <td>{{c.nomUsages}}</td>
          <td>{{c.prenomUsages}}</td>
        <tr>
      </table>
    </div>
  </div>
</div>
